@model ToDoViewModel

<form asp-action="Insert" id="form-action" method="post" class="form-horizontal" role="form">
    <div asp-validation-summary="All" class="text-danger"></div>
            <label asp-for="Todo.Name" class="form-label"></label>
            <input asp-for="Todo.id" type="hidden" class="form-control" />
            <input asp-for="Todo.Name" class="form-control" />
            <span asp-validation-for="Todo.Name" class="text-danger"></span>
            <input type="submit" id="form-button" value="Add ToDo">
</form>